.viz-title-container {
    width:		550px;
    height:		195px;
    padding:	3%;
}

.viz-title {
	font-size:		24px;
	font-family:	sans-serif;
	margin-bottom:	2%;
	font-weight:	lighter;
}

.viz-description {
	font-size:		15px;
	font-family:	sans-serif;
	font-weight:	lighter;
}

.annotation {
	font-size:		12px;
	font-family:	sans-serif;
	font-weight:	lighter;
}

svg > g:last-of-type > line {
	stroke:  #80B1D3 !important;
	opacity: 0.55 !important;
}
