.viz-title-container {
    width:		550px;
    height:		215px;
    padding:	3%;
}

.viz-title {
	font-size:		24px;
	font-family:	sans-serif;
	margin-bottom:	2%;
	font-weight:	lighter;
}

.viz-description {
	font-size:		15px;
	font-family:	sans-serif;
	font-weight:	lighter;
}

.annotation {
	font-size:		12px;
	font-family:	sans-serif;
	font-weight:	lighter;
}

.bubble-label {
	text-anchor:	middle;
    font-size:		12px;
    font-family:	sans-serif;
	/*font-weight:	lighter;*/
    opacity:		0.9;
}
