.viz-title-container {
    width:		550px;
    height:		120px;
    padding:	3%;
}

.viz-title {
	font-size:		22px;
	font-family:	sans-serif;
	margin-bottom:	2%;
	font-weight:	lighter;
}

.viz-description {
	font-size:		16px;
	font-family:	sans-serif;
	font-weight:	lighter;
}

.annotation {
	font-size:		12px;
	font-family:	sans-serif;
	font-weight:	lighter;
}